doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content='Beautiful hand crafted slate art and prints, made with love in Wales. Unique pieces of slate art and hand printed greetings card available to buy. Commissions available for your home or business.')
        meta(name='keywords' content='slate art, slate carving, Welsh art, greetings cards, handcrafted slate, slate to buy, slate commissions')
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")



        title Arramu
        block styles
            link(rel="stylesheet", href="styles/main.css", attr)
            script(src="https://kit.fontawesome.com/48a780d8d5.js" crossorigin="anonymous")
            
    body
        header 
            .medium-container.header-container
                a(href="#top")
                    img.header-logo(src="images/arramu-logo-simple.png", alt="arramu-logo")
                //- .nav-background
                //- button.mobile-nav-open-button
                    i.fas.fa-bars    
                nav
                    //- button.mobile-nav-close-button
                        i.fas.fa-times
                    ul
                        li
                            a(href="#shop") Shop
                        li
                            a(href="#about") About
                        li
                            a(href="#contact") Contact
        
        .header-buffer#top
        block content
        footer
            .medium-container
                .footer-grid
                    .footer-left
                        p  	&copy; Arramu 2020
                    .footer-right
                        a(href="#top") ↑ Back to top

        block scripts
            script(src='https://cdn.plyr.io/3.6.2/plyr.polyfilled.js')
            script(src="scripts/scripts.js")